:host {
  #main-site-header {
    min-height: var(--ds-header-height);

    @include media-breakpoint-up(md) {
      height: var(--ds-header-height);
    }

    background-color: var(--ds-header-bg);

    &-container {
      min-height: var(--ds-header-height);
    }
  }

  img#header-logo {
    height: var(--ds-header-logo-height);
    width: 130px;
  }

  .btn-entrar {
    height: 40px;
    text-decoration: none;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    border: 1px solid #007D7A;
    border-radius: 30px;
    color: #007D7A;
    font-weight: 500;
    cursor: pointer;
    gap: 5px;
    width: max-content;
    font-size: 16px;
    transition: all 0.3s ease;

    &:hover, &:focus {
      background: #007D7A;
      color: white;
    }
  }

  button#navbar-toggler {
    color: var(--ds-header-icon-color);

    &:hover, &:focus {
      color: var(--ds-header-icon-color-hover);
    }
  }

}
